.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.MainWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}

.InputBox {
  width: 90%;
  text-align: center;
  margin-left: 3%;
}
.SelesctBox {
  width: 94%;
  margin-left: 3%;
}
